body{
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* grid style*/
.gridStyle {
    width: 100%;
    height: 400px;
    margin: 25px 0 0 0;
    border: 1px solid rgb(212,212,212);
}

/* chart style*/
.chart {
 width: 100%;
 height: 400px;
}


/*
MENU STYLE
______________________________________________ */

  .logo{
    width: 100%;
    height: auto;
  }

  .appname{
    margin: 0;
    position: relative;
    top: -115px;
    right: -35%;
  }

  .menuSupercontainer{
    background-color: rgb(228,136,59);
    border-radius: 5px;
  }

  .menu{ /* ul tag*/
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .linkContainer{
    display: inline-block;
    padding: 25px 0 25px 0;
    position: relative;
    background-color: rgb(228,136,59);
    text-align: center;
    border-radius: 5px;
  }

  .linkContainer:hover{
    background-color: #F2A86B;
  }

  .menuLink:link, a:visited {
      color: white;
      font-family: 'Arial';
      font-weight: bold;
      font-size: 2em;
      text-decoration: none;
  }

  a:link:active, a:visited:active {
      color: white;
  }


  .linkSpan{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }

  .selected{
    background-color: rgb(223,109,7);
  }





/*
LOGIN-VIEW */

  #loginTitle{
    text-align: center;
  }

  .loginContainer{
    margin-top: 250px;
  }

  .loginInput{
    width: 99%;
    display: inline-block;
  }

  .loginButton{
    width: 100%;
    margin: 0;
    padding: 0;
  }


/*
CAPTURA-VIEW
______________________________________________ */




/*
OFICIOS-VIEW
______________________________________________ */



/*
OFICIO-VIEW
______________________________________________ */

  .ghost{
    visibility: hidden;
  }

  .oficioInput{
    width: 99%;
    padding: 1%;
    margin: 10px 0 0 0;
    display: inline-block;
  }

  #addMargin{
    margin-top: 30px;
  }

  .optionsSuperContainer{
    margin-top: 10px;
  }

/*
GRAFICA-VIEW
______________________________________________ */

  .contentSuperContainer{
    margin-top: 25px;
  }
