/* Table of Content
==================================================
  #Estilos del sitio
    Login-view
    Menu-view
    Captura-view
    Oficios-view
    Grafica-view
  #Estilos de modulos de angular
  #Media Queries */

/* #Estilos del sitio
================================================== */

  body{
      margin: 0;
      padding: 0;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }


  /* Login-view
  ================================================== */

  #loginSuperContainer{
    width: 100%;
    margin-top: 50px;
    padding: 25px 0 25px 0;
    background-color: rgb(112,180,74);
  }
  #loginTitle{
    margin-top: 0;
    font-size: 3em;
    text-align: center;
  }
  .loginInput{
    width: 98%;
    margin: 0 0 5px 0;
    padding: 5px 0 5px 2%;
    display: inline-block;
    border: none;
    font-size: 2em;

  }
  .loginButton{
    width: 100%;
    margin: 25px 0 0 0;
    padding: 10px 0 10px 0;
    background-color: rgb(228,136,59);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid rgb(223,109,7);
    font-size: 2em;
    color: white;
  }
  .loginButton:hover{
    background-color: rgb(223,109,7);
  }
  .passwordButton{
    width: 100%;
    margin: 25px 0 0 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 1em;
    color: rgb(228,136,59);
    cursor: pointer;
  }
  .passwordButton:hover{
    text-decoration: underline;
  }
  footer{
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 15%;
    background-color: black;
    color: white;
    text-align: center;
  }
  footer p{
    margin: 0;
  }

  /* Menu-view
  ================================================== */

  .logoDIF, .logoUDEM{
    width: 100%;
    height: auto;
  }
  .logoUDEM{
    margin-top: 25px;
  }
  .appname{
    margin: 50px 0 0 0;
    text-align: center;
  }
  .appsubtitle{
    text-align: center;
  }
  .menuSupercontainer{
    background-color: rgb(228,136,59);
  }
  .menu{ /* ul tag*/
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .linkContainer{
    display: inline-block;
    padding: 25px 0 25px 0;
    position: relative;
    background-color: rgb(228,136,59);
    text-align: center;
  }
  .linkContainer:hover{
    background-color: rgb(223,109,7);
  }
  .menuLink:link, .menuLink:visited {
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
  }
  .menuLink:link:active, .menuLink:visited:active {
    color: white;
  }
  .test:link, .test:visited {
    color: purple;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
  }
  .test:link:active, .test:visited:active {
    color: purple;
  }
  .linkSpan{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
  .selected{
    background-color: rgb(223,109,7);
  }
  .selected:hover{
    background-color: rgb(223,109,7);
  }
  .logoutButton{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 4px 0 4px 0;
    background: none;
    border: none;
    font-size: 1em;
    font-weight: bolder;
    color: #70B44A;
    cursor: pointer;
  }
  .logoutButton:hover{
    text-decoration: underline;
  }

  /* Captura-view
  ================================================== */

  #administrativo{
    margin-top: 50px;
  }
  #descripcionContainer{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #submitContainer{
    margin-bottom: 50px;
  }
  .titulo{
    margin: 0 0 25px 0;
  }
  .capturaDate{
    font-size: 1em;
    width: 25%;
  }
  .capturaInput{
    width: 25%;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
    font-size: 1em;
    text-align: center
  }
  .capturaDropdown{
    width: 100%;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  .menorContainer{
    margin-top: 25px !important;
  }
  .menorInput{
    width: 100%;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  .menorDropdown{
    width: 11%;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 1em;
  }
  .addMenor{
    width: 100%;
    padding: 10px;
    background-color: #70B44A;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #002D00;
    font-size: 1em;
    color: white;
  }
  .addMenor:hover{
    background-color: #002D00;
  }
  .saveMenor{
    width: 30%;
    margin: 10px 0 0 4%;
    padding: 4px 0 4px 0;
    display: inline-block;
    background-color: #70B44A;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #002D00;
    font-size: 1em;
    color: white;
  }
  .saveMenor:hover{
    background-color: #002D00;
  }
  .eliminateMenorContainer{
    width: 25%;
    margin: 10px 0 0 40%;
    padding : 0;
    display: inline-block;
  }
  .guardarCaptura{
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: #70B44A;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #002D00;
    font-size: 1em;
    color: white;
  }
  .guardarCaptura:hover{
    background-color: #002D00;
  }
  .borrarCaptura{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #70B44A;
    background: none;
    border: none;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
  }
  .borrarCaptura:hover{
    color: #002D00;
    text-decoration: underline;
  }
  .descripcion{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  .eraseMenor{
    font-weight: bolder;
    color: #70B44A;
    font-size: 0.75em;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  .eraseMenor:hover{
    color: #002D00;
  }
  .warning{
    color: #70B44A;
  }

  /* Oficios-view
  ================================================== */

  #tablaOficios{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .eliminateMenorContainerInOficio {
    width: 25%;
    margin: 20px 0 0 80%;
    padding: 0;
    display: inline-block;
  }
  #paginationControllers{
    width: 20%;
    margin: 0 40% 0 40%;
  }

  /* Gráfica-view
  ================================================== */

  #parameters{
    margin-top: 25px;
  }
  .consultaButton{
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0;
    background-color: #70B44A;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #002D00;
    font-size: 1em;
    color: white;
  }
  .consultaButton:hover{
    background-color: #002D00;
  }
  .seriesTable{
    margin-top: 10px;
    border: 2px solid rgb(212,212,212);
  }
  .seriesTable th, .seriesTable td{
    text-align: center;
    width: 20%;
  }
  .seriesTable .importantTH{
    width: 65%;
    text-align: left;
  }
  .seriesTable tr:nth-child(even){
    background: #D4D4D4;
  }
  .seriesTable tr:nth-child(odd){
    background: #FFFFFF;
  }
  .juzgadoName{
    text-align: left !important;
  }

/* #Estilos de modulos de angular
================================================== */
  /* Animate-if */
  .animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }
  .animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }
  .animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }
  /* grid style*/
  .gridStyle {
      width: 100%;
      height: 400px;
      margin: 25px 0 0 0;
      border: 1px solid rgb(212,212,212);
  }
  /* chart style*/
  .chart {
  width: 100%;
  height: 400px;
  }


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    /* LOGIN */
    .appname{
      width: 100%;
      font-size: 2em;
    }
    .appsubtitle{
      font-size: 1em;
    }
    #loginTitle{
      font-size: 2em;
    }
    .loginInput{
      font-size: 1em;
    }
    .logo{
      margin-top: 25px;
    }
    /* MENU */
    .topButton{
      width: 50% !important;
      margin: 0 0 0 0 !important;
      padding: 0 0 0 0 !important;
    }
    .logoutButton{
      width: 50%;
    }
    .logoutButton.left{
      margin: 10px 50% 0 0;
    }
    .logoutButton.right{
      margin: 10px 0 0 50%;
    }
    /* CAPTURA */
    .menuLink:link, .menuLink:visited{
      font-size: 1.5em;
    }
    .capturaInput{
      width: 30%;
    }
    /* GRAFICA */
    .picker__input{
      width: 25%;
    }
    .eliminateMenorContainer{
      margin-left: 39%;
    }
    .saveMenor{
      font-size: 0.75em;
    }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    /* LOGIN */
    .logoDIF{
      width: 50%;
      height: auto;
      margin-left: 25%;
      margin-right: 25%;
    }
    .logoUDEM{
      display: none;
    }
    .appname{
      text-align: center;
    }
    .appsubtitle{
      text-align: center;
    }
    /* CAPTURA */
    #menores{
      margin-top: 25px;
    }
    .addMenor{
      width: 100% !important;
    }
    .menorDropdown{
      width: 15%;
    }
    .picker__input{
      width: 40%;
    }
    .eliminateMenorContainer{
      margin-left: 38%;
    }
    .menorInput{
      width: 99%;
    }
    .borrarCaptura{
      margin-top: 20px;
    }
    /* OFICIOS */
    #paginationControllers{
      width: 30%;
      margin: 0 35% 0 35%;
    }
    /* GRAFICA */
    #parameters div{
      margin-bottom: 20px;
    }

  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}


/* Diseño visual aportado por Frida Medrano */
