<div ng-controller="capturaCtrl">
  <div id="administrativo" class="container">
    <div class="sixteen columns">
      <h2 class="titulo" >Administrativo : </h2>
    </div>
    <!-- Administrativo derecha -->
    <div class="sixteen columns">
      <label class="capturaLabel">Fecha :</label>
      <script>$('.datepicker').pickadate({selectYears: true ,selectMonths: true ,today: 'Hoy',clear: 'Cancelar',close: 'Cerrar',monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],formatSubmit: 'yyyy/mm/dd',format: 'dd mmmm yyyy'});
      </script>
      <input ng-model="oficio.fecha" class="capturaDate datepicker">
    </div>

    <div class="eight columns">
      <input ng-model="oficio.numero" class="capturaInput" type="text" placeholder="Folio de oficio">
      <label ng-show="itExists != -1" class="warning">Oficio ya existe.</label>
      <select ng-model="oficio.autoridad" class="capturaDropdown">
        <option disabled>Autoridad correspondiente</option>
        <option>PGJE</option>
        <option>PJF</option>
        <option>PJE</option>
      </select>
      <select ng-model="$parent.oficio.tipoJuzgado" ng-if="oficio.autoridad == 'PGJE'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Juzgado</option>
        <option>AMP JF  No 1 GPE</option>
        <option>AMP INV No 1 EJFDS GPE</option>
        <option>AMP INV No 2 EJFDS GPE</option>
        <option>AMP INV No 3 EJFDS GPE</option>
        <option>AMP INV No 4 EJFDS GPE</option>
        <option>AMP INV UI No 1  HOMICIDIO Y LESIONES DOLOSAS GPE</option>
        <option>AMP INV UI No 2  HOMICIDIO Y LESIONES DOLOSAS GPE</option>
        <option>AMP INV  No 6  ROBOS GPE</option>
        <option>AMP INV No 1 EJFDS STA CATARINA</option>
        <option>AMP INV No 2 EJFDS STA CATARINA</option>
        <option>AMP INV No 3 EJFDS STA CATARINA</option>
        <option>AMP UNIDAD 1 APODACA</option>
        <option>AMP UNIDAD 2 APODACA</option>
        <option>AMP No 1 ESPECIAL JUSTICIA PARA ADOLESCENTES</option>
        <option>AMP No 2 ESPECIAL JUSTICIA PARA ADOLESCENTES</option>
        <option>AMP No 3 ESPECIAL JUSTICIA PARA ADOLESCENTES</option>
        <option>AMP UI JF MONTERREY</option>
        <option>AMP JF No 6</option>
        <option>AMP JF No 3 ESCOBEDO</option>
        <option>AMP ESPECIALIZADA JUICIO ORAL</option>
      </select>
      <select ng-model="$parent.oficio.tipoJuzgado" ng-if="oficio.autoridad == 'PJF'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Juzgado</option>
        <option>JUZ 1 DTO EN MATERIA CIVIL Y DEL TRABAJO</option>
        <option>JUZ 2 DTO EN MATERIA CIVIL Y DEL TRABAJO</option>
        <option>JUZ 3 DTO EN MATERIA CIVIL Y DEL TRABAJO</option>
        <option>JUZ 4 DTO EN MATERIA CIVIL Y DEL TRABAJO</option>
        <option>JUZ 5 DTO EN MATERIA CIVIL Y DEL TRABAJO</option>
        <option>JUZ 1 DTO EN MATERIA PENAL</option>
        <option>JUZ 2 DTO EN MATERIA PENAL</option>
        <option>JUZ 3DTO EN MATERIA PENAL</option>
        <option>JUZ 4 DTO EN MATERIA PENAL</option>
        <option>JUZ 5 DTO EN MATERIA PENAL</option>
        <option>JUZ 6 DTO EN MATERIA PENAL</option>
        <option>JUZ 1 DTO EN MATERIA ADMINISTRATIVA</option>
        <option>JUZ 2 DTO EN MATERIA AMINISTRATIVA</option>
      </select>
      <input ng-model="$parent.oficio.tipoJuzgado" ng-click="erase()" ng-if="oficio.autoridad == 'PJE'" class="animate-if capturaDropdown" type="text" placeholder="Tipo de Juzgado" >
    </div>
    <!-- Administrativo izquierda -->
    <div class="eight columns">
      <select ng-model="oficio.tipoDeJuicio" class="capturaDropdown">
        <option disabled>Tipo de Juicio</option>
        <option>CAUSA PENAL</option>
        <option>AVERIGUACION PEVIA</option>
        <option>CARPETA DE INVESTIGACION</option>
        <option>JUICIO ORDINARIO MERCANTIL</option>
        <option>JUICIO EJECUTIVO MERCANTIL</option>
        <option>JUICIO ORDINARIO CIVIL SOBRE ACCION REINVINDICATORIA</option>
        <option>JUICIO ORDINARIO CIVIL SOBE PRESCIPCION ADQUISITIVA</option>
        <option>JUICIO ORDINARIO CIVIL</option>
        <option>JOC DIVORCIO NECESARIO</option>
        <option>JOC SOBRE RECONOCIMIENTO DE PATERNIDAD</option>
        <option>JOC SOBRE CONTRADICCIÓN DE PATERNIDAD</option>
        <option>JOC SOBRE DESONOCIMIENTO DE PATERNIDAD</option>
        <option>JOC SOBRE PÉRDIDA DE LA PATRIA POTESTAD</option>
        <option>JOC SOBRE CAMBIO DE RESIDENCIA</option>
        <option>DIVORCIO POR MUTUO CONSENTIMIENTO</option>
        <option>JUICIO ORAL DE ALIMENTOS</option>
        <option>JUICIO ORAL DE DIVORCIO NECESARIO</option>
        <option>JUICIO ORAL DE DIVORCIO POR MUTUO CONSENTIMIENTO</option>
        <option>JUICIO ORAL DE CONV Y POS. INTERINA DE MENORES</option>
        <option>DJV SOBRE AUTORIZACION PARA SALIR DEL PAIS</option>
        <option>DJV SOBRE ENAJENACION DE BIENES DE MENORES</option>
        <option>DJV SOBE DECLARACION DE ESTADO DE MINORIDAD Y NOM DE TUTOR</option>
        <option>DJV SOBRE DECLARACION DE INTERDICCION Y NOMBRAMIENTO DE TUTOR</option>
        <option>DJV SOBRE INFORMACIÓN AD PERPETUAM/DEPENDENCIA ECONÓMICA</option>
        <option>ACTO PREJUDICIAL SOBRE SEPARACION PROVISIONAL DE CÓNYUGES</option>
        <option>ACTO PREJUDICIAL SOBRE SEPARACION CAUTELAR DE PERSONAS</option>
        <option>ACTO PREJUDICIAL SOBRE MEDIDAS DE PROTECCIÓN DE EMERGENCIAS</option>
        <option>RESTITUCIÓN INTERNACIONAL DE MENORES</option>
        <option>EXHORTO DE JUICIO DE CONTROVERSIA DE ORDEN FAMILIAR</option>
      </select>
      <select ng-model="oficio.municipio" class="capturaDropdown">
        <option disabled>Municipio</option>
        <option>Abasolo</option>
        <option>Agualeguas</option>
        <option>Allende</option>
        <option>Anáhuac</option>
        <option>Apodaca</option>
        <option>Aramberri</option>
        <option>Bustamante</option>
        <option>Cadereyta Jiménez</option>
        <option>Cerralvo</option>
        <option>Ciénega de Flores</option>
        <option>China</option>
        <option>Doctor Arroyo</option>
        <option>Doctor Coss</option>
        <option>Doctor González</option>
        <option>El Carmen</option>
        <option>Galeana</option>
        <option>García</option>
        <option>General Bravo</option>
        <option>General Escobedo</option>
        <option>General Terán</option>
        <option>General Treviño</option>
        <option>General Zaragoza</option>
        <option>General Zuazua</option>
        <option>Guadalupe</option>
        <option>Hidalgo</option>
        <option>Higueras</option>
        <option>Hualahuises</option>
        <option>Iturbide</option>
        <option>Juárez</option>
        <option>Lampazos de Naranjo</option>
        <option>Linares</option>
        <option>Los Aldamas</option>
        <option>Los Herreras</option>
        <option>Los Ramones</option>
        <option>Marín</option>
        <option>Melchor Ocampo</option>
        <option>Mier y Noriega</option>
        <option>Mina</option>
        <option>Montemorelos</option>
        <option>Monterrey</option>
        <option>Parás</option>
        <option>Pesquería</option>
        <option>Rayones</option>
        <option>Sabinas Hidalgo</option>
        <option>Salinas Victoria</option>
        <option>San Nicolás de los Garza</option>
        <option>San Pedro Garza García</option>
        <option>Santa Catarina</option>
        <option>Santiago</option>
        <option>Vallecillo</option>
        <option>Villaldama</option>
      </select>
      <select ng-model="oficio.servicio" class="capturaDropdown">
        <option disabled>Servicio</option>
        <option>Evaluación</option>
        <option>Asistencia</option>
      </select>
      <select ng-model="oficio.areaDeServicio" class="capturaDropdown">
        <option disabled>Area de Servicio</option>
        <option>Psicología</option>
        <option>Trabajo Social</option>
        <option>Legal</option>
      </select>
      <select ng-model="$parent.oficio.tipoDeServicio" ng-if="oficio.servicio == 'Evaluación' && oficio.areaDeServicio == 'Psicología'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Servicio</option>
        <option>Evaluación de posible afectación emocional o daño psicológico</option>
        <option>Evaluación del estado emocional  actual o psíquico</option>
        <option>Evaluación e Intervención ecosistémica</option>
        <option>Prueba de capacidad</option>
        <option>Evaluación Psicológica</option>
        <option>Asistencia a NNA Intervención psicológica</option>
        <option>Evaluación en conjunto con Trabajo Social</option>
        <option>Terapia</option>
        <option>Seguimiento</option>
      </select>
      <select ng-model="$parent.oficio.tipoDeServicio" ng-if="oficio.servicio == 'Evaluación' && oficio.areaDeServicio == 'Trabajo Social'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Servicio</option>
        <option>Dependencia económica</option>
        <option>Estudio Socioeconómico</option>
        <option>Evaluación Social</option>
        <option>Visita Domiciliaria</option>
        <option>Investigación para descarto o confirmación de maltrato infantil</option>
        <option>Evaluación ecosistémica ó sistémica (T.S. y Psicología)</option>
        <option>Seguimiento</option>
      </select>
      <select ng-model="$parent.oficio.tipoDeServicio" ng-if="oficio.servicio == 'Asistencia' && oficio.areaDeServicio == 'Psicología'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Servicio</option>
        <option>Coadyuvar al escuchar el parecer de menor y/o acompañamiento</option>
        <option>Coadyuvar en diligencia de restitución del menor de edad a uno de sus padres</option>
        <option>Realizar y emitir prueba de madurez a menores de edad</option>
        <option>Coadyuvar en evaluar  a padres en ratificación de convenio</option>
        <option>Fungir como Asesor de Autoridad durante diligencia</option>
        <option>Asistencia de menor de edad en deposito</option>
        <option>Reunión previa con Autoridad para aclarar términos de entrevista con el menor de edad</option>
        <option>Dictaminar en diligencia si el menor de edad e víctima o no de maltrato</option>
      </select>
      <select ng-model="$parent.oficio.tipoDeServicio"  ng-if="oficio.servicio == 'Asistencia' && oficio.areaDeServicio == 'Trabajo Social'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Servicio</option>
        <option>Apoyo en sustraer menor y traslado de menor a Centro Estatal de Convivencias</option>
        <option>Asistencia a menores de edad en diligencia de Arresto</option>
        <option>Coadyuvar al escuchar el parecer de menor y/o acompañamiento</option>
        <option>Asistencia a menores de edad en acto de desalojo</option>
        <option>Asistencia social en acto judicial de convivencia</option>
      </select>
      <select ng-model="$parent.oficio.tipoDeServicio" ng-if="oficio.servicio == 'Asistencia' && oficio.areaDeServicio == 'Legal'" class="animate-if capturaDropdown">
        <option disabled>Tipo de Servicio</option>
        <option>Acompañamiento a menor de edad durante desahogo de diligencia</option>
      </select>
    </div>
  </div>

  <div id="menores" class="container">
    <div class="sixteen columns">
      <h2 class="titulo" >Menores : </h2>
    </div>
    <div class="four columns">
      <button ng-click="addMenorToList()" ng-disabled="isDisabled" ng-style="disableStyle" class="addMenor menorDropdown">Agregar menor</button>
    </div>
    <div ng-repeat="menor in listaMenores track by $index" class="animate-if">
      <div class="menorContainer sixteen columns">
        <input ng-model="menor.edad" ng-disabled="isDisabled" class="menorDropdown" type="text" placeholder="Edad">
        <select ng-model="menor.sexo" ng-disabled="isDisabled" class="menorDropdown">
          <option value="" disabled>Sexo</option>
          <option>Femenino</option>
          <option>Masculino</option>
        </select>
      </div>
      <div class="eight columns">
        <input ng-model="menor.nombre" ng-disabled="isDisabled" class="menorInput" type="text" placeholder="Nombre(s)">
        <input ng-model="menor.apellidoPaterno" ng-disabled="isDisabled" class="menorInput" type="text" placeholder="Apellido paterno">
        <input ng-model="menor.apellidoMaterno" ng-disabled="isDisabled" class="menorInput" type="text" placeholder="Apellido materno">
      </div>
      <div class="eight columns">
        <select ng-model="menor.respuesta" ng-disabled="isDisabled" class="capturaDropdown">
          <option value="" disabled>Respuesta brindada a petición</option>
          <option>Si</option>
          <option>No</option>
        </select>
        <select ng-model="menor.motivo" ng-disabled="isDisabled" class="capturaDropdown animate-if" ng-if="menor.respuesta == 'No'">
          <option value="" disabled>Motivos de la negativa</option>
          <option>No hay personal disponible.</option>
          <option>La petición llegó a destiempo.</option>
          <option>No se cuenta con el material y medios necesarios.</option>
          <option>No se precisa el objeto de la evaluación, se requiere previa aclaración.</option>
          <option>Error en los nombres que se contienen, se solicitó aclaración previa.</option>
        </select>
        <div class="eliminateMenorContainer">
          <button ng-click="cancelMenor()" ng-disabled="isDisabled" class="eraseMenor" type="submit">Borrar Menor</button>
        </div>
        <button ng-click="addMenorToMenores($index)" ng-disabled="isDisabled" ng-style="disableStyle" class="saveMenor" type="submit">Guardar Menor</button>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="alertMessage"><h2>Verificar que se llenó fecha y folio de oficio.</h2></script>
  <script type="text/ng-template" id="successMessage"><h1>Oficio ha sido guardado.</h1></script>

  <div id="submitContainer" class="container">
    <div id="descripcionContainer" class="sixteen columns">
      <textarea ng-model="oficio.descripcion" class="descripcion" rows="5" placeholder="Descripción del oficio"></textarea>
    </div>
    <div class="four columns">
      <button ng-click="save()" ng-enter="closeDialog()" ng-disabled="itExists != -1" class="guardarCaptura" ng-style="disableStyle" type="submit">Guardar oficio</button>
    </div>
    <div class="three columns offset-by-nine">
      <button ng-click="cleanInputs()" class="borrarCaptura" type="submit">Borrar todo</button>
    </div>
  </div>


</div>
