<div ng-controller="capturaCtrl">
  <div class="container">
    <div class="four columns">
      <p>Aqui va el logo</p>
    </div>
    <div class="twelve columns">
      <h1>SODIF</h1>
    </div>
    <div class="sixteen columns">
      <ul class="menu">
        <li class="menuLink">Capturar oficios</li>
        <li class="menuLink">Ver oficios</li>
        <li class="menuLink">Ver gráfica</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="one column offset-by-fifteen">
      <a>Guardar Oficio</a>
    </div>
  </div>
</div>
