<div ng-controller="graficaCtrl">
  <script type="text/ng-template" id="alertMessage"><h2>Verificar que se llenaron las fechas.</h2></script>
  <script type="text/ng-template" id="queryMessage"><h2>Verificar que se seleccionó el tipo de consulta.</h2></script>

  <div class="container">
    <div class="parametersContainer eight columns">
      <div>
        <select ng-model="chartQuery">
          <option value="" disabled>Mostrar por</option>
        	<option>Autoridad</option>
        	<option>Tipo de juzgado</option>
          <option>Tipo de juicio</option>
          <option>Municipio</option>
          <option>Menores</option>
          <option>Oficios</option>
        </select>
      </div>
    </div>

    <div class="parametersContainer eight columns">
      <label>Entre :</label>
        <script>
          $('.datepickerBegin').pickadate({
            today: 'Hoy',
            clear: 'Cancelar',
            close: 'Cerrar',
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
            format: 'dd/mm/yyyy',
            formatSubmit: 'yyyy/mm/dd'
          });

          $('.datepickerEnd').pickadate({
            today: 'Hoy',
            clear: 'Cancelar',
            close: 'Cerrar',
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
            formatSubmit: 'yyyy/mm/dd',
            format: 'dd/mm/yyyy'});
        </script>
      <input class="datepickerBegin" ng-model="beginDate">
      <label> y </label>
      <input class="datepickerEnd" ng-model="endDate" ng-change="guardar()">
    </div>

    <div class="chartContainer sixteen columns">
      <div ng-click="show()" ng-show="isShown" data-ac-chart="chartType" data-ac-data="data" data-ac-config="config" class="chart"></div>
    </div>

    <div class="sixteen columns">
      <label>Tipos de Juzgado</label>
      <table>
        <tr>
          <th>Titulo</th>
          <th>Valor</th>
        </tr>
        <tr ng-repeat="check in checkList">
          <td>{{check.name}}</td>
          <td>{{check.value}}</td>
        </tr>
        <tr ng-repeat="foo in foos">
          <td>{{foo.month}}</td>
          <td>{{foo.values}}</td>
        </tr>
      </table>
    </div>

  </div>

</div>
