<div ng-controller="oficioCtrl">

  <div class="container">
    <div class="four columns">
      <p>Aqui va el logo</p>
    </div>
    <div class="twelve columns">
      <h1>SODIF</h1>
    </div>
  </div>

  <div class="menuSupercontainer">
    <div class="container">
        <ul class="menu">
          <li class="menuLink five columns">Capturar oficios</li>
          <li class="menuLink six columns">Ver oficios</li>
          <li class="menuLink five columns">Ver gráfica</li>
        </ul>
    </div>
  </div>

<div class="contentSuperContainer">
  <div class="container">
    <div class="four columns">
      <input>
    </div>
    <div class="four columns">
      <input>
    </div>
    <div class="four columns">
      <input>
    </div>
    <div class="four columns">
      <input>
    </div>
  </div>

</div>


</div>
