<div ng-controller="loginCtrl">
  <script type="text/ng-template" id="errorMessage">
    <h2>Datos incorrectos. Favor de verificar usuario y contraseña.</h2>
  </script>
  <div class="container">
    <div class="four columns">
      <img class="logo" src="css/images/logoDIFNL.jpg">
    </div>
    <div class="twelve columns">
      <h1 class="appname"> Sistema de Oficios de Procuraduría de Defensa del Menor y la Familia</h1>
    </div>
  </div>
  <div id="loginSuperContainer">
    <div id="loginContainer" class="container">
      <div class="six columns offset-by-five">
        <h1 id="loginTitle">Iniciar sesión</h1>
        <input ng-model="user.name" class="loginInput" type="text" maxlength="25" placeholder="Correo electrónico" />
        <input ng-model="user.password" class="loginInput" type="password" ng-enter="login()" maxlength="10"placeholder="Contraseña">
        <button class="loginButton" type="submit" ng-click="login()">Entrar</button>
      </div>
    </div>
  </div>
</div>
