<div ng-controller="oficiosCtrl">
  <div id="tablaOficios" class="container">
    <div class="sixteen columns">
      <select ng-model="selectedYear" ng-change="getMonths()">
        <option value="" disabled>Años</option>
        <option ng-repeat="year in years">{{year.key}}</option>
      </select>
      <select ng-model="selectedMonth" ng-change="afterChangingMonth()">
        <option value="" disabled>Mes</option>
        <option ng-repeat="month in months">{{month.key}}</option>
      </select>
    </div>
    <div class="sixteen columns">
      <div class="gridStyle" ng-grid="gridOptions"> </div>
    </div>
    <div class="sixteen columns" style="margin-top: 25px;">
      <div id="paginationControllers">
        <button ng-model="backButton" ng-click="changePagination('back')" type="submit"><</button>
        <label ng-model="first" >{{first}}</label>
        <label>-</label>
        <label ng-model="last" >{{last}}</label>
        <button ng-model="nextButton" ng-click="changePagination('next')" type="submit">></button>
      </div>
    </div>
  </div>
</div>
